html{
    text-align: center;
    font-size: 1em;
    color: black;
    text-shadow: 1px 1px 1px white;
}
button{
    background-color: transparent;
    border-radius: 80px;
    margin: 8px;
}
#images{
    margin-top: 20px;
    width: 200px;
    height: auto;
}